<manifest package="com.ninise.pragmatictwitterclient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17"
        android:maxSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".project.mvp.view.login.LoginActivity"
                  android:clearTaskOnLaunch="true"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="t4jsample"/>
            </intent-filter>

        </activity>

        <activity android:name=".project.mvp.view.home.HomeActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".project.mvp.view.settings.SettingsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".project.mvp.view.about.AboutActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>
